body{
    background-image: radial-gradient(circle at 50% -20.71%, #de9c2c 0, #e5922a 8.33%, #ea852b 16.67%, #ee772d 25%, #f16731 33.33%, #f35436 41.67%, #f23c3c 50%, #f01843 58.33%, #ed004c 66.67%, #e90057 75%, #e30064 83.33%, #db0071 91.67%, #d10080 100%);
}

#container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "fotologo nombre"
        
}

.fotologo{
    grid-area: "foologo";
    position: relative;
    animation: animacion 10s infinite;
}

@keyframes animacion{
    0%{left:0px}
    100%{left:100px}
    
}
.nombre{
    grid-area: "nombre";
}


nav{
    
    background-color: gold;
    
}

nav ul{
    font-family: cursive sans-serif;
    font-size: 20px;
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a:hover{
    color: black;
    
}

.título1{
    color: black;
    font-size: 30px;
    font-family: cursive;
}

section article ul li{
    color: black;
    font-family: cursive sans-serif;
    font-size: 25px;
    
}

section tr th{
    color: black;
    font-family: cursive sans-serif;
    font-size: 25px;
}

td{
    color: black;
    font-family: cursive sans-serif;
    font-size: 25px;
}

footer{
    background-color: #bae8e8;
}

footer p{
    color: black;
    font-family: cursive sans-serif;
    font-size: 25px;
        
}
