body{
    background-image: radial-gradient(circle at 50% -20.71%, #e5deff 0, #cfcafa 25%, #b5b5f2 50%, #98a1eb 75%, #788fe4 100%);
}


nav{
    
    background-color: gold;
    
}

nav ul{
    font-family: cursive sans-serif;
    font-size: 20px;
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a:hover{
    color: black;
    
}

.título1 h1{
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: cursive;
}